@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  /* Chrome, Safari*/
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* IE, Edge, Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  height: 100%;
  /* 背景色を白くしないための色定義 */
  background-color: #38bdf8;
}

body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    "Noto Sans JP",
    sans-serif;
  line-height: 1.6;

  min-height: 100dvh;
}
